@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.image__wrapper {
  background-color: #c3f53c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.top-left {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 55px;
    position: absolute;
    top: 115px;
    left: 130px;
  }

  .top-para {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
    position: absolute;
    padding: 20px;
    top: 250px;
    left: 109px;
    justify-content: space-between;
  }

  .image__button {
    top: 450px;
    left: 124px;
    position: absolute;
    font-weight: 600;
    font-family: sans-serif;
    display: inline-block;
    padding: 15px 32px;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: black;
    border: none;
    border-radius: 40px;
    margin-right: 14px;
  }
  
  .image__button:hover {
      background-color:  rgb(44, 44, 44);
  }
  .image__button:active {
      background-color:   rgb(44, 44, 44);
      transform: translateY(4px);
  }


  .image__info  {
    font-size: 20px;
    justify-content: space-between;
    display: flex;
    text-decoration: none;
    top: 540px;
    left: 94px;
    position: absolute;
    font-weight: 500;
    color: black;
    text-decoration: none;
    padding: 0 20px;
  }
  .image__info:hover,
  .image__info:active {
      color: #3ecc16;
  }

  .image__belowText {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 35px;
    position: absolute;
    top: 800px;
    left: 410px;
  }
  .image__belowPara {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 20px;
    position: absolute;
    top: 850px;
    left: 370px;
  }
  .image__belowInfo {
    position: absolute;
    font-weight: 500;
    color: gray;
    text-decoration: none;
    padding: 0 20px;
    font-size: 20px;
    justify-content: space-between;
    display: flex;
    text-decoration: none;
    top: 950px;
    left: 550px;
  }
  .image__belowInfo:hover,
  .image__belowInfo:active {
      color: #3ecc16;
  }

.fee__tag {
 color: black;
}

.fee__tag:hover,
.fee__tag:active {
    color: #3ecc16;
}

.image__below {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.image__end {
  position: absolute;
  top: 1100px;
  left: 0px;
}

.image__endText {
  position: absolute;
    font-weight: 500;
    color: black;
    text-decoration: none;
    padding: 0 20px;
    font-size: 35px;
    justify-content: space-between;
    display: flex;
    text-decoration: none;
    top: 50px;
    left: 70px;
}

.image__endPara {
  position: absolute;
    font-weight: 400;
    color: gray;
    text-decoration: none;
    padding: 0 20px;
    font-size: 19px;
    justify-content: space-between;
    display: flex;
    text-decoration: none;
    top: 100px;
    left: 70px;
}

.image__endTextTwo {
  position: absolute;
    font-weight: 700;
    color: black;
    text-decoration: none;
    padding: 0 20px;
    font-size: 20px;
    justify-content: space-between;
    display: flex;
    text-decoration: none;
    top: 170px;
    left: 70px;
}

.image__endParaTwo {
  position: absolute;
    font-weight: 400;
    color: black;
    text-decoration: none;
    padding: 0 20px;
    font-size: 17px;
    justify-content: space-between;
    display: flex;
    text-decoration: none;
    top: 210px;
    left: 70px;
}

.image__endTextThree {
  position: absolute;
    font-weight: 700;
    color: black;
    text-decoration: none;
    padding: 0 20px;
    font-size: 20px;
    justify-content: space-between;
    display: flex;
    text-decoration: none;
    top: 170px;
    left: 370px;
}

.image__endParaThree {
  position: absolute;
    font-weight: 400;
    color: black;
    text-decoration: none;
    padding: 0 20px;
    font-size: 17px;
    justify-content: space-between;
    display: flex;
    text-decoration: none;
    top: 210px;
    left: 370px;
}

.image__endTextFour {
  position: absolute;
    font-weight: 700;
    color: black;
    text-decoration: none;
    padding: 0 20px;
    font-size: 20px;
    justify-content: space-between;
    display: flex;
    text-decoration: none;
    top: 170px;
    left: 670px;
}

.image__endParaFour {
  position: absolute;
    font-weight: 400;
    color: black;
    text-decoration: none;
    padding: 0 20px;
    font-size: 17px;
    justify-content: space-between;
    display: flex;
    text-decoration: none;
    top: 210px;
    left: 670px;
}

.image__endLink {
  position: absolute;
  font-weight: 500;
  color: gray;
  text-decoration: none;
  padding: 0 20px;
  font-size: 20px;
  justify-content: space-between;
  display: flex;
  text-decoration: none;
  top: 450px;
  left: 60px;
}
.image__endLink:hover,
  .image__endLink:active {
      color: #3ecc16;
  }

.image__top {
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 1;
  
}

/* .image__video {
  position: absolute;
  top: 30px;
  left: 100px;
  background-color: green;
} */