@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.image__wrapper {
  width: 100%;
  height: 700px;
  background-color: #c3f53c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.top-left {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 55px;
    position: absolute;
    top: 115px;
    left: 30px;
    width: 500px;
  }

  .top-para {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
    position: absolute;
    padding: 20px;
    top: 250px;
    left: 10px;
    justify-content: space-between;
    width: 500px;
  }

  .image__button {
    top: 450px;
    left: 30px;
    position: absolute;
    font-weight: 600;
    font-family: sans-serif;
    display: inline-block;
    padding: 15px 32px;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: black;
    border: none;
    border-radius: 40px;
    margin-right: 14px;
    width: 140px;
  }
  
  .image__button:hover {
      background-color:  rgb(44, 44, 44);
  }
  .image__button:active {
      background-color:   rgb(44, 44, 44);
      transform: translateY(4px);
  }


  .image__info  {
    font-size: 20px;
    justify-content: space-between;
    display: flex;
    text-decoration: none;
    top: 540px;
    left: 14px;
    position: absolute;
    font-weight: 500;
    color: black;
    text-decoration: none;
    padding: 0 20px;
    width: 235px;
  }
  .image__info:hover,
  .image__info:active {
      color: #3ecc16;
  }

  .image__belowText {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 35px;
    position: absolute;
    top: 800px;
    z-index: 1;
    left: 410px;
  }
  .image__belowPara {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 20px;
    position: absolute;
    top: 850px;
    z-index: 1;
    left: 370px;
  }
  .image__belowInfo {
    z-index: 1;
    position: absolute;
    font-weight: 500;
    color: gray;
    text-decoration: none;
    padding: 0 20px;
    font-size: 20px;
    justify-content: space-between;
    display: flex;
    text-decoration: none;
    top: 950px;
    left: 550px;
  }
  .image__belowInfo:hover,
  .image__belowInfo:active {
      color: #3ecc16;
  }

.fee__tag {
 color: black;
}

.fee__tag:hover,
.fee__tag:active {
    color: #3ecc16;
}

.image__below {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1100px;
}

.image__top {
  position: absolute;
  top: 50px;
  left: 100px;
  z-index: 1;
  
}

.image-iphone {
  position: absolute;
  top: 50px;
  left: 565px;
  width: 670px;
  height: 579px;
  z-index: 1;
}

.image__video {
  position: relative;
  height: 800px;
  width: 50%;
  top: -312px;
  left: 1001px;
} 

